.sidebar {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px;
    padding-right: 60px;
    background-color:#f2f2f2;
    height: 100vh;
}

.sidebar > a {
    display: block;
    text-decoration: none;
    padding-bottom: 20px;
    color: inherit;
}

.sidebar > a:hover {
    color: #b30000;
}